<p id="notice"><%= notice %></p>

<p>
  <strong>Empid:</strong>
  <%= @employee.empid %>
</p>

<p>
  <strong>Empname:</strong>
  <%= @employee.empname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @employee.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @employee.lon %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @employee.distance %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
